[Unit]
Description="multi_ner part of bern v2"
After=multi-user.target

[Service]
WorkingDirectory=/root/BERN2/
ExecStart=/root/.local/bin/poetry run python multi_ner/ner_server.py --mtner_home multi_ner --mtner_port 18894
Type=idle
Restart=always
User=root

[Install]
WantedBy=multi-user.target
